<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="XrmRecordConfiguration" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
    <section name="RecordExtractSettings" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
    <section name="TextSearchSettings" type="MJosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
  </configSections>
  <XrmRecordConfiguration>
    <ConfigurationItem>
      <add key="AuthenticationProviderType" value="None"/>
      <add key="DiscoveryServiceAddress" value="http://crm2011/XRMServices/2011/Discovery.svc"/>
      <add key="OrganizationUniqueName" value="test"/>
      <add key="Username" value=""/>
      <add key="Password" value=""/>
      <add key="Domain" value=""/>
    </ConfigurationItem>
  </XrmRecordConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
