<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="XrmRecordConfiguration" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
  </configSections>
  <XrmRecordConfiguration>
    <ConfigurationItem>
      <add key="AuthenticationProviderType" value="Federation"/>
      <add key="DiscoveryServiceAddress" value="https://discoveryserver/XRMServices/2011/Discovery.svc"/>
      <add key="OrganizationUniqueName" value=""/>
      <add key="Username" value=""/>
      <add key="Password" value=""/>
      <add key="Domain" value=""/>
    </ConfigurationItem>
  </XrmRecordConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
