<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TestObject" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
    <section name="TestObject2" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.IncorrectAssemblyName"/>
    <section name="TestObject3" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
  </configSections>
  <TestObject>
    <ConfigurationItem>
      <add key="StringField" value="StringValue"/>
      <add key="BooleanField" value="1"/>
      <add key="IntField" value="1"/>
      <add key="EnumField" value="Enum1"/>
      <add key="EnumerableStringField" value="StringValue1,StringValue2"/>
      <add key="ExcelFileField" value="Excel.xls"/>
    </ConfigurationItem>
  </TestObject>
  <TestObject2>
    <ConfigurationItem>
      <add key="StringField" value="StringValue"/>
      <add key="BooleanField" value="1"/>
      <add key="IntField" value="1"/>
    </ConfigurationItem>
  </TestObject2>
  <TestObject3>
    <ConfigurationItem>
      <add key="StringField" value=""/>
      <add key="IntField" value="1"/>
    </ConfigurationItem>
  </TestObject3>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
