<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="XrmRecordConfiguration" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
    <section name="RecordExtractSettings" type="JosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
    <section name="TextSearchSettings" type="MJosephM.Core.AppConfig.CustomConfigurationSection, JosephM.Core"/>
  </configSections>
  <XrmRecordConfiguration>
    <ConfigurationItem>
      <add key="AuthenticationProviderType" value="None"/>
      <add key="DiscoveryServiceAddress" value="http://crm2011/XRMServices/2011/Discovery.svc"/>
      <add key="OrganizationUniqueName" value="test"/>
      <add key="Username" value=""/>
      <add key="Password" value=""/>
      <add key="Domain" value=""/>
    </ConfigurationItem>
  </XrmRecordConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
